.scrollcontainer *{
  box-sizing:border-box;
}

.recruitcontent {
  margin: 60px auto;
  width: 70%;
  text-align: center;
  min-width: 700px;
}

.wrap1 {
  display: flex;
  justify-content: space-between;
}


.boardname {
  margin: -20px 0px 0px 20px;
  background-color: navy;
  height: 33px;
  color: white;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
}

.rcontentsbox {
  text-align: left;
  background-color: white;
  border-radius: 0px 10px 10px 10px;
  border-color: navy;
  border: 2px solid navy;
  min-height: 300px;
  padding: 20px;
  margin: 0px 20px 20px 20px;
}

.requirementBox {
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}

.requirementTitle {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.requirementTextBox textarea {
  background-color: rgb(220, 220, 220);
  text-align: left;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  resize: none;
}

.requirementFileBox{
  height: 36px;
  display: flex;
  flex: row;
  align-items: center;
}

.fileUploadBtn {
  width: 155px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 12px;
  text-decoration: none;
  cursor: pointer;
}

.fileUpdateDesc {
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.applicationBtn {
  background-color: rgb(238, 238, 238);
  height: 50px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 16px;
  padding: 0px 20px 0px 20px;
}
  .applicationBtn:hover {
      background-color: rgb(191, 191, 191);
      cursor: pointer;
  }
