.boardmap {
  margin: 0px auto;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  min-width: 700px;
}

.wrap1 {
  display: flex;
  justify-content: space-between;
}

.boardname {
  margin: 40px 0px 0px 20px;
  background-color: navy;
  height: 25px;
  color: white;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
}

.filterBtn {
  box-shadow: none;
  background-color: rgb(220, 220, 220);
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 20px;
  padding-left: 10px;
}
