#header-container {
    width: 100%;
    height: 60px;
    margin: auto 0;
    background-color: navy;
    z-index: 1000;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 30px 0px 30px;
}

.header-image {
    background-color: #ffffffac;
    border-radius: 20px;
    width: 130px;
    height: 50px;
}

.logo {
    width: 90%;
    margin-top: 2px;
}

.signin-button, .login-button {
    padding: 10px 15px;
    background-color: #ffffffac;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.login-button { margin-right: 15px; }

.signin-button { margin-left: auto; }

.signin-button:hover, .login-button:hover {
    background-color: white;
    color: rgb(68, 68, 68);
}
