.headercontainer {
    width: 100%;
    height: 60px;
    margin: auto 0;
    background-color: navy;
    z-index: 1000;
    min-width: 700px;
}

.headercontents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 30px 0px 30px;
}

.headerimage {
    background-color: #ffffffac;
    border-radius: 20px;
    width: 130px;
    height: 50px;
}

.logo {
    width: 90%;
    margin-top: 2px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signinbutton, .loginbutton {
    padding: 10px 15px;
    background-color: #ffffffac;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.signinbutton:hover, .loginbutton:hover {
    background-color: white;
    color: rgb(68, 68, 68);
}

.nickName {
    color: white;
}