.boardMap {
  margin: 60px auto;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
}

.menuBar {
  justify-content: center;
  display: flex;
  height: 50px;
  background-color: rgb(238, 238, 238);
  border-bottom: 4px solid navy;
}

.menuBar button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0px 60px;
  font-size: 20px;
  font-weight: bold;
}

.menuBar button:hover {
  background-color: rgb(191, 191, 191);
}

.menuBar button.active {
  background-color: navy;
  color: white;
}

.wrap1 {
  display: flex;
  justify-content: space-between;
}

.writeButton {
  background-color: rgb(238, 238, 238);
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 15px 10px 15px;
  margin: 40px 20px 0px 0px;
}

.writeButton:hover {
  background-color: rgb(191, 191, 191);
}

.boardName {
  margin: 40px 0px 0px 20px;
  background-color: navy;
  height: 25px;
  color: white;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
}

.contentsBox {
  background-color: white;
  border-radius: 0px 10px 10px 10px;
  border-color: navy;
  border: 2px solid blue;
  min-height: 300px;
  padding: 10px;
  margin: 0px 20px 20px 20px;
}

.back {
  margin-left: 10px;
  border-radius: 10px;
  width: 172px;
  height: 65px;
  background: #434343;
  color: white;
  border: none;
  font-size: 26px;
  font-style: bold;
}

.item {
  align-items: center; /* 아이템을 수직 가운데 정렬합니다. */
}

.downloadButton {
  width: 153px;
  min-width: 153px;
  height: 74px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 7px;
  background: #186ae5;
  color: white;
  font-style: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.inputContent {
  flex-grow: 1;
  position: absolute;
  background-color: rgb(220, 220, 220);
  text-align: left;
  border-radius: 10px;
  border: none;
  min-height: 20px;
  min-width: calc(100% - 50px);
  height: 64px;
  width: 100%;
  padding: 7px;
  margin: 10px 20px 20px 20px;
  position: relative;
  font-size: 20px;
}

.item {
  position: relative;
}

.item .requirement {
  display: flex;
  padding-bottom: 20px;
  width: 100%;
  margin-right: auto;
}

.inputLine {
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.uploadButton {
  width: 153px;
  min-width: 153px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 7px;
  background: #186ae5;
  color: white;
  font-style: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.list {
  display: flex; /* 요소들을 가로로 배치하기 위해 Flexbox 사용 */
  list-style: none; /* 리스트 스타일 제거 */
  padding: 0; /* 내부 여백 제거 */
  width: 100%;
  margin-right: 20px;
}

.contentList {
  flex-grow: 1;
  margin-right: 30px;
  margin-left: -10px;
}
