.requestcontent {
  margin: 60px auto;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  min-width: 700px;
}

.wrap1 {
  display: flex;
  justify-content: space-between;
}

.writeButton {
  background-color: rgb(238, 238, 238);
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 15px 10px 15px;
  margin: 40px 20px 0px 0px;
}

.writeButton:hover {
  background-color: rgb(191, 191, 191);
}

.boardName {
  margin: -20px 0px 0px 20px;
  background-color: navy;
  height: 25px;
  color: white;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
}

.contentsBox {
  text-align: left;
  background-color: white;
  border-radius: 0px 10px 10px 10px;
  border-color: navy;
  border: 2px solid navy;
  min-height: 300px;
  padding: 20px;
  margin: 0px 20px 20px 20px;
}

.item {
  position: relative;
}

.inputContent {
  flex-grow: 1;
  position: absolute;
  background-color: rgb(220, 220, 220);
  text-align: left;
  border-radius: 10px;
  border: none;
  min-height: 20px;
  min-width: calc(100% - 50px);
  width: 100%;
  padding: 7px;
  margin: 10px 20px 20px 20px;
  position: relative;
  font-size: 13px;
}

.item .requirement {
  font-size: 16px;
  font-weight: bolder;
  margin-left: 20px;
  display: flex;
  width: 100%;
  margin-right: auto;
}

.inputLine {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploadButton {
  width: 153px;
  min-width: 153px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 7px;
  margin-left: 20px;
  background: #186ae5;
  color: white;
  font-style: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
}

.list {
  display: flex; /* 요소들을 가로로 배치하기 위해 Flexbox 사용 */
  list-style: none; /* 리스트 스타일 제거 */
  padding: 0;
  width: 100%;
  margin-right: 20px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.contentList {
  flex-grow: 1;
  margin-right: 30px;
  margin-left: -10px;
}

.saveButton {
  background-color: rgb(238, 238, 238);
  height: 50px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 16px;
  padding: 0px 20px 0px 20px;
}

.saveButton :hover {
  background-color: rgb(191, 191, 191);
  cursor: pointer;
}
