@media (min-width: 1201px){

    .container {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        font-family:Arial, Helvetica, sans-serif
    }
    
    .leftPanel {
        width: 60%;
        background-color: navy;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 50px;
        position: relative;
    }
    
    .rightPanel {
        width: 40%;
        background-color: white;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .start {
        color: black;
        margin-bottom: 30px;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
    }
    
    .title {
        color: white;
        font-size: 26px;
        font-weight: bold;
    }
    
    .subtitle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: lavender;
        margin-top: 50px;
        font-weight: 600;
        font-size: 22px;
    }
    
    .leftbubble1, .leftbubble2 {
        background-color: #ffffffc6;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 250px;
        text-align: center;
        position: relative;
    }
    
    .leftbubble1::before, .leftbubble2::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 20px;
        border-width: 20px 20px 0px 0px;
        border-style: solid;
        border-color: #ffffffc6 transparent;
    }
    
    .leftbubble1 {
        margin-top: -70px;
    }
    
    .leftbubble2 {
        margin-top: 110px;
    }
    
    .rightbubble {
        background-color: #ffffffc6;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 250px;
        text-align: center;
        position: absolute;
        left: calc(100% - 340px);
    }
    
    .rightbubble::before {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 20px;
        border-width: 20px 0px 0px 20px;
        border-style: solid;
        border-color: #ffffffc6 transparent;
    }
    
    .leftbubble1, .leftbubble2, .rightbubble {
        color: black;
        font-size: 20px;
    }
    
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .start, .loginbutton{
        margin-left: 20px;
    }
    
    .buttons {
        display: flex;
    }
    
    .signinbutton {
        margin-left: 50px;
    }
    
    .signinbutton, .loginbutton {
        padding: 15px 0px;
        width: 150px;
        background-color: navy;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }
    
    .copy {
        font-size: 10px;
        position: absolute;
        bottom: 5%;
    }

}

@media (max-width: 1200px) {

    .container {
        width: 100%;
        min-width: 730px;
        display: flex;
        flex-direction: column;
        font-family:Arial, Helvetica, sans-serif
    }
    
    .leftPanel {
        order: 2;
        height: 100vh;
        min-height: 600px;
        background-color: navy;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 50px;
        position: relative;
    }
    
    .rightPanel {
        order: 1;
        height: calc(100vh - 60px);
        min-height: 400px;
        background-color: white;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .start {
        color: black;
        margin-bottom: 30px;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
    }
    
    .title {
        color: white;
        font-size: 26px;
        font-weight: bold;
    }
    
    .subtitle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: lavender;
        margin-top: 50px;
        font-weight: 600;
        font-size: 22px;
    }
    
    .leftbubble1, .leftbubble2 {
        background-color: #ffffffc6;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 250px;
        text-align: center;
        position: relative;
    }
    
    .leftbubble1::before, .leftbubble2::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 20px;
        border-width: 20px 20px 0px 0px;
        border-style: solid;
        border-color: #ffffffc6 transparent;
    }
    
    .leftbubble1 {
        margin-top: -70px;
    }
    
    .leftbubble2 {
        margin-top: 110px;
    }
    
    .rightbubble {
        background-color: #ffffffc6;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 250px;
        text-align: center;
        position: absolute;
        left: calc(100% - 340px);
    }
    
    .rightbubble::before {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 20px;
        border-width: 20px 0px 0px 20px;
        border-style: solid;
        border-color: #ffffffc6 transparent;
    }
    
    .leftbubble1, .leftbubble2, .rightbubble {
        color: black;
        font-size: 20px;
    }
    
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .buttons {
        display: flex;
    }
    
    .signinbutton {
        margin-left: 50px;
    }
    
    .signinbutton, .loginbutton {
        padding: 15px 0px;
        width: 150px;
        background-color: navy;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }
    
    .copy {
        font-size: 10px;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
       
}