.boardmap {
  margin: 60px auto 0px auto;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  min-width: 700px;
}

.menubar {
  justify-content: center;
  display: flex;
  height: 50px;
  background-color: rgb(238, 238, 238);
  border-bottom: 4px solid navy;
}

.menubar button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0px 60px;
  font-size: 20px;
  font-weight: bold;
}

.menubar button:hover {
  background-color: rgb(191, 191, 191);
}

.menubar button.active {
  background-color: navy;
  color: white;
}
