.boardmap {
  margin: 0px auto;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  min-width: 700px;
}

.wrap1 {
  display: flex;
  justify-content: space-between;
}

.boardname {
margin: 40px 0px 0px 20px;
background-color: navy;
height: 25px;
color: white;
width: 250px;
border-radius: 10px 10px 0px 0px;
font-weight: bold;
font-size: 18px;
padding-top: 8px;
}

.contentsbox {
background-color: white;
border-top: 1px solid navy;
min-height: 300px;
margin: 0px 20px 20px 20px;
}


.postsTable {
  width: 100%;
  border-collapse: collapse;
}

.postsTable th,
.postsTable td {
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  padding: 15px;
  font-size: 16px;
  text-align: left;
}

.narrowDateColumn {
  width: 20%;
  text-align: center !important;
}

.configColumn {
  width: 2%;
  text-align: center !important;
  cursor: pointer;
}

.configColumn i {
  line-height: 19px !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.applicationRow td {
  padding: 0;
  border: none;
}

.applicationContent {
  width: 70%;
  margin-left: auto;
  border-left: 30px solid navy;
  border-bottom: 1px solid navy;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.acceptButton {
  background-color: #4CAF50; /* 녹색 계열 */
  color: white;
  border: none;
  padding: 7px 15px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.acceptButton:hover {
  background-color: #45a049;
}

.rejectButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 7px 15px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rejectButton:hover {
  background-color: #da190b;
}

.postsTable {
  width: 100%;
}

.postsTable th {
  background-color: #f2f2f2;
}

.lastApplication {
  border-bottom: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page a, .narrow a {
  margin: 0 10px;
  text-decoration: none;
}
