.boardname {
    margin: -20px 0px 0px 20px;
    background-color: navy;
    height: 25px;
    color: white;
    width: 250px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
}

.wrap1 {
    display: flex;
    justify-content: space-between;
}

.recruitcontent {
    margin: 60px auto;
    width: 70%;
    text-align: center;
    padding-bottom: 10px;
    min-width: 700px;
}

.selectbutton {
    background-color: rgb(238, 238, 238);
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 7px 0px 10px;
    margin: -20px 20px 0px 0px;
}

    .selectbutton:hover {
        background-color: rgb(191, 191, 191);
    }

.rcontentsbox {
    text-align: left;
    background-color: white;
    border-radius: 0px 10px 10px 10px;
    border-color: navy;
    border: 2px solid navy;
    min-height: 300px;
    padding: 20px;
    margin: 0px 20px 20px 20px;
}

.text1 {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 20px;
}

.recruitcontent input[type="text"] {
    background-color: rgb(220, 220, 220);
    text-align: left;
    border-radius: 10px;
    border: none;
    min-height: 20px;
    min-width: calc(100% - 50px);
    padding: 7px;
    margin: 10px 20px 20px 20px;
}

.recruitcontent textarea {
    background-color: rgb(220, 220, 220);
    text-align: left;
    border-radius: 10px;
    border: none;
    min-height: 20px;
    width: calc(100% - 50px);
    padding: 7px;
    margin: 10px 20px 20px 20px;
    resize: vertical;
}

.teambuttons {
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    border: none;
    min-height: 20px;
    min-width: calc(100% - 50px);
    padding: 5px;
    margin: 10px 20px 20px 20px;
}  

.teambuttons label {
    display: flex;
    align-items: center;
    margin: 10px;
}

.teambuttons input[type="radio"], .filetypebuttons input[type="radio"]{
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 30%;
    border: 2px solid #ccc;
    margin-right: 8px;
}
  
    .teambuttons input[type="radio"]:checked, .filetypebuttons input[type="radio"]:checked {
        background-color: #007bff;
    }

.requirementcontainer {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    min-width: calc(100% - 55px);
    padding: 0px 0px 20px 20px;
    margin: 10px 20px 0px 20px;
}
  
.requirement, .filetype {
    display: flex;
    align-items: center;
}

.text2 {
    font-size: 15px;
    font-weight: bolder;
}

.requirement input[type="text"] {
    height: 10px;
    min-width: calc(100% - 150px);
    background-color: white;
    margin-top: 20px;
}

.deletebutton {
    background-color: rgb(238, 238, 238);
    width: 25px;
    height: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: -30px 0px 0px 0px;
}
    .deletebutton:hover {
        background-color: rgb(191, 191, 191);
        cursor: pointer;
    }
  
.addbutton {
    appearance: none;
    height: 90px;
    background-color: rgb(220, 220, 220);
    color: #007bff;
    border-radius: 10px;
    border: none;
    font-size: 80px;
    min-width: calc(100% - 35px);
    margin: 10px 20px 0px 20px;
}
    .addbutton:hover {
        background-color: rgb(191, 191, 191);
        cursor: pointer;
    }

.postbutton {
    background-color: rgb(238, 238, 238);
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
}
    .postbutton:hover {
        background-color: rgb(191, 191, 191);
        cursor: pointer;
    }

.requirementdetailcontainer {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    min-width: calc(100% - 55px);
    padding: 10px 0px 10px 10px;
    margin: 10px 20px 0px 20px;
}

.text3 {
    background-color: rgb(220, 220, 220);
    text-align: left;
    border-radius: 10px;
    border: none;
    min-height: 20px;
    min-width: calc(100% - 50px);
    padding: 10px 7px 5px 10px;
    margin: 10px 20px 20px 20px;
    font-size: 13px;
}

.text4 {
    margin: 10px 0px 10px 10px;
    font-size: 13px;
    max-width: 380px;
}