.scrollcontainer *{
  box-sizing: border-box;
}
.boardmap {
  margin: 0px auto;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  min-width: 700px;
}


.wrap1 {
  display: flex;
  justify-content: space-between;
}

.boardname {
  margin: 40px 0px 0px 20px;
  background-color: navy;
  height: 33px;
  color: white;
  width: 250px;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
}

.contentsbox {
  background-color: white;
  border-top: 3px solid navy;
  min-height: 300px;
  margin: 0px 20px 20px 20px;
}

.applicationTable {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid navy;
}

.blankTableContent {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postRow {
  height: 60px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid navy;
}

.titleInRow {
  width: calc(100% - 100px - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 10px;
}

.dateInRow {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsisInRow{
  width: 40px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.applicationRow {
  height: 50px;
  border-bottom: 1px solid navy;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.applicationRowBar {
  width: 30px;
  height: 100%;
  background-color: navy;
}

.applicationRowTitle{
  width: calc(78% - 120px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}

.applicationRowBtnBox{
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.yetButton {
  background-color: #8d8d8d;
  color: white;
  border: none;
  width: 52px;
  height: 30px;
  border-radius: 5px;
}

.acceptButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  width: 52px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.acceptButton:hover {
  background-color: #38833b;
}

.acceptSavedButton {
  background-color: #75d478;
  color: white;
  border: none;
  width: 52px;
  height: 30px;
  border-radius: 5px;
}

.rejectButton {
  background-color: #f44336;
  color: white;
  border: none;
  width: 52px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;

}

.rejectButton:hover {
  background-color: #da190b;
}

.rejectSavedButton {
  background-color: #f37a71;
  color: white;
  border: none;
  width: 52px;
  height: 30px;
  border-radius: 5px;
}

.requestBtn {
  background-color: #646464;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size : 12px;
}

.tooltip {
  position: absolute;
  right:10px;
  top:15px;
  width:100px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  z-index: 10;
  cursor: pointer;
}

.tooltipItem {
  cursor: pointer;
  padding: 4px;
}

.tooltipItem:hover {
  background-color: #f0f0f0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.pageNum, .narrow{
  width:25px;
  text-decoration: none;
  color:rgb(0, 0, 0);
  cursor: pointer;
}

.current_page{
  color:rgb(105, 151, 252);
}
