.boardmap {
    margin: 0px auto;
    width: 70%;
    text-align: center;
    padding-bottom: 10px;
    min-width: 700px;
  }
  
  .wrap1 {
    display: flex;
    justify-content: space-between;
  }
  
  .boardname {
    margin: 40px 0px 0px 20px;
    background-color: navy;
    height: 25px;
    color: white;
    width: 250px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
  }
  
  .contentsbox {
    background-color: white;
    border-radius: 0px 10px 10px 10px;
    border-color: navy;
    border: 2px solid navy;
    min-height: 300px;
    padding: 10px;
    margin: 0px 20px 20px 20px;
  }