.signupModalWrapper * {
  box-sizing: border-box;
}

.signupModalWrapper{
  width: 28rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  box-sizing: border-box;
}


.header {
  width: 15rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  background-color: navy;
  border-radius: 0.6rem 0.6rem 0rem 0rem;
}

.body {
  height: 100%;
  padding: 1.5rem;
  background-color: white;
    border: 0.1rem solid navy;
  border-radius: 0rem 0.6rem 0.6rem 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guideText {
  width:100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sendBtn {
  width: 5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
  background-color: rgb(85, 85, 92);
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

.sendBtn:disabled{
  background-color: rgb(100, 100, 100);
  cursor: default;
}